[submodule "projectm"]
	path = projectm
	url = https://bitbucket.org/discofish/projectm.git
[submodule "mixramp2"]
	path = mixramp2
	url = https://bitbucket.org/discofish/mixramp2.git
[submodule "mpd"]
	path = mpd
	url = https://bitbucket.org/discofish/mpd.git
[submodule "libfreenect"]
	path = libfreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "libfreenect2"]
	path = libfreenect2
	url = https://github.com/OpenKinect/libfreenect2.git
[submodule "external/kkonnect"]
	path = external/kkonnect
	url = https://bitbucket.org/discofish/kkonnect.git
