build/
.dockerignore 2
.DS_Store
.pio
.pioenvs
.piolibdeps
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets
dependencies.lock
managed_components/*
sdkconfig.*
!sdkconfig.*.defaults
SCRATCH.txt
__pycache__/
