[Desktop Entry]
Type=Application
Exec=python /home/fish/dfplayer/start.py --prod --mpd
Terminal=true
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
StartupNotify=true
Name[en_US]=dfplayer
Name=dfplayer
Comment[en_US]=
Comment=
