[Desktop Entry]
Type=Application
Exec=/home/fish/dfplayer/start.py --prod
Terminal=true
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
StartupNotify=true
Name[en_US]=dfplayer
Name=dfplayer
Comment[en_US]=
Comment=
