# Network Configuration
ether=10.1.0.10
netmask=255.0.0.0
gateway=10.1.0.1
port=7331

# Device Organization
group=1
controller=1

# Global Strip Configuration
pixels=400
stripsattached=8
swap=12345678
#blank_strips_on_idle=1

# Strip 1 Configuration
strip1=ws2801
start1=ff0000

# Strip 2 Configuration
strip2=ws2801
start2=00ff00

# Strip 3 Configuration
strip3=ws2801
start3=0000ff

# Strip 4 Configuration
strip4=ws2801
start4=ff0000

# Strip 5 Configuration
strip5=ws2801
start5=00ff00

# Strip 6 Configuration
strip6=ws2801
start6=0000ff

# Strip 7 Configuration
strip7=ws2801
start7=ff0000

# Strip 8 Configuration
strip8=ws2801
start8=00ff00

