########################
# STAGE LIGHTS
########################

# Network Configuration
#ether=10.2.0.10
#netmask=255.255.0.0
dhcp_timeout=4
port=7331

# Device Organization
group=10002
controller=10010

# Global Strip Configuration
pixels=400
stripsattached=8

# Strip 1 Configuration
strip1=ws2801
order1=bgr
start1=ff0000

# Strip 2 Configuration
strip2=ws2801
order2=bgr
start2=00ff00

# Strip 3 Configuration
strip3=ws2801
order3=bgr
start3=0000ff

# Strip 4 Configuration
strip4=ws2801
order4=bgr
start4=ffff00

# Strip 5 Configuration
strip5=ws2801
order5=bgr
start5=00ffff

# Strip 6 Configuration
strip6=ws2801
order6=bgr
start6=ff00ff

# Strip 7 Configuration
strip7=ws2801
order7=bgr
start7=ffffff

# Strip 8 Configuration
strip8=ws2801
order8=bgr
start8=000000
