body {
    background-color: #3b383f;
}

code {
    background-color: #5c5663;
}

a {
    color: #61c0cb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #ffffff;
    font-family: Verdana, Helvetica, sans-serif;
}

button {
    outline: none;
    cursor: pointer;
    padding: 8px;
    margin: 10px;
    width: 230px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 19px;
    background-color: #61c0cb;
    color: white;
    border: 0px solid white;
    border-radius: 25px;
}